<style>
    .glyphicon.glyphicon-copyright-mark {
        font-size: 40px;
    }
</style>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><img src="http://localhost/app/views/carrot.png" width="100" height="100"> Jazara
                Debuggers<a>
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                </a></h1>
            <p><a>
                <span class="glyphicon glyphicon-education"></span>
            </a> Information Technology Engineering.</p>
            <p><a>
                <span class="glyphicon glyphicon-education"></span>
            </a> Damascus University.</p>
            <p><a>
                <span class="glyphicon glyphicon-education"></span>
            </a> Fourth Year - Networking.</p>
        </div>
    </div>
    <hr class="featurette-divider">

    <h1><a>
        <span class="glyphicon glyphicon-flag"></span>
    </a> Our Team</h1>

    <hr class="featurette-divider">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><img src="http://localhost/app/views/carrot.png" width="30"
                                                 height="30"> Yassar Hammami</h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><a class="btn btn-info" href="https://github.com/yassarooo" role="button">Github
                            »</a></p>
                        <p><a class="btn btn-info" href="https://facebook.com/yassarooo" role="button">Facebook
                            »</a></p></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><img src="http://localhost/app/views/carrot.png" width="30"
                                                 height="30"> Carol Hakimeh</h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><a class="btn btn-info" href="https://github.com/carolha2" role="button">Github
                            »</a></p>
                        <p><a class="btn btn-info" href="https://facebook.com/carol.hakimeh" role="button">Facebook
                            »</a></p></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><img src="http://localhost/app/views/carrot.png" width="30"
                                                 height="30"> Rama Khazna</h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><a class="btn btn-info" href="https://github.com/" role="button">Github
                            »</a></p>
                        <p><a class="btn btn-info" href="https://facebook.com/rama.khazna.1" role="button">Facebook
                            »</a></p></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><img src="http://localhost/app/views/carrot.png"
                                                 width="30" height="30"> Abdullah Baker</h1>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><a class="btn btn-info" href="https://github.com/"
                              role="button">Github »</a></p>
                        <p><a class="btn btn-info" href="https://facebook.com/abd.4g63"
                              role="button">Facebook »</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</main>