<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div><span class="glyphicon glyphicon-send"></span> Message</div>
            </div>

            <div class="panel-body">
                <form ng-submit="submit()" name="MQForm" novalidate>

                    <div class="form-group"
                         ng-class="{ 'has-error': MQForm.email.$invalid && MQForm.email.$dirty }">
                        <label for="email">Email: <span class="text-muted">(Required)</span> </label> <input
                            type="email"
                            placeholder="you@example.com"
                            required
                            class="form-control"
                            ng-model="email"
                            id="email"
                            name="email">
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': MQForm.content.$invalid && MQForm.content.$dirty }">
                        <label for="content">Content:<span class="text-muted">(Optional)</span></label>
                        <textarea class="form-control"
                                  ng-model="content"
                                  id="content"
                                  name="content"
                                  rows="3"></textarea>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error': MQForm.date.$invalid && MQForm.date.$dirty }">
                        <label for="date">Date:</label> <input type="date" required
                                                               class="form-control" ng-model="date"
                                                               id="date"
                                                               name="date">
                    </div>

                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="MQController.checked"
                                ng-disabled="MQForm.$invalid">{{buttonText}}
                        </button>
                        <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
