<style>
    table {
        height: 300px;
        display: block;
    }

    #circle {
        width: 70px;
        height: 70px;
    }
    #circle2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        z-index: 999;
    }
</style>

<div class="row">
    <div class="col-sm-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading">Parameters</div>
            <div class="panel-body">

                <div ng-show="paramsubload" id="circle2">
                    <div class="loader">
                        <div class="loader">
                            <div class="loader">
                                <div class="loader">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <form ng-submit="submit()" name="paramsForm" novalidate>

                        <div class="form-group"
                             ng-class="{ 'has-error': paramsForm.name.$invalid && paramsForm.name.$dirty }">
                            <label for="seats">Seats :</label> <input type="number" required
                                                                             class="form-control"
                                                                             ng-model="param.seats"
                                                                             id="seats"
                                                                             name="seats">
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': paramsForm.price.$invalid && paramsForm.price.$dirty }">
                            <label for="percentage">Percentage :</label> <input type="number"
                                                                                required class="form-control"
                                                                                ng-model="param.percentage"
                                                                                id="percentage"
                                                                                name="percentage">
                        </div>

                        <button type="submit" class="btn btn-primary"
                                ng-disabled="paramsForm.$invalid">{{buttonText}}
                        </button>

                        <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Parameters Entities
                <button type="button" class="btn btn-default btn-sm"
                        ng-click="initAddParam()">
                    <span class="glyphicon glyphicon-plus"></span> New Parameters Enitity
                </button>
            </div>
            <div class="panel-body">

                <div class="alert alert-info margin-top-5" ng-show="deleteMessage">{{deleteMessage}}</div>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Seats</th>
                        <th>Percentage</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div ng-show="paramsload" id="circle">
                        <div class="loader">
                            <div class="loader">
                                <div class="loader">
                                    <div class="loader">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tr ng-repeat="param in params">
                        <td>{{param.id}}</td>
                        <td>{{param.seats}}</td>
                        <td>{{param.percentage}}%</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                    ng-click="initEdit(param)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                    ng-click="deleteParam(param)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Copyright @2021 | Designed With <i class="fa fa-heart" style="color:red"></i> by <a ui-sref="about" href="#/about">Jazara Debuggers</a></p>