<div class=" col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">Email Confirmation</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
            </div>
        </div>
    </div>
    <hr>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2021 | Designed With <i class="fa fa-heart" style="color:red"></i> by <a ui-sref="about" href="#/about">Jazara Debuggers</a></p>
    <hr>
</div>