<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div><span class="glyphicon glyphicon-add"></span>Add Message</div>
            </div>
            <div class="panel-body">
                <form ng-submit="addmessage()" name="sessionForm" novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error': sessionForm.content.$invalid && sessionForm.content.$dirty }">
                        <label for="content">Add Message :</label>
                        <textarea class="form-control"
                                  ng-model="content"
                                  id="content"
                                  name="content"
                                  rows="3"></textarea>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="SessionController.addchecked"
                                ng-disabled="sessionForm.$invalid">Add
                        </button>
                        <div class="alert alert-info margin-top-5" ng-show="messageadd">{{messageadd}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div><span class="glyphicon glyphicon-add"></span>Messages</div>
            </div>
            <div class="panel-body">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Message</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="msg in msgs">
                                <td>{{$index+1}}</td>
                                <td>{{msg}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info margin-top-5" ng-show="messageget">{{messageget}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div><span class="glyphicon glyphicon-info"></span>Session</div>
            </div>
            <div class="panel-body">
                <form ng-submit="destroysession()" name="sessionForm" novalidate>
                    <div ng-repeat="session in sessions">Current Session ID is : {{session}}</div>
                    <br>
                    <br>
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                ng-disabled="SessionController.destroychecked"
                                ng-disabled="sessionForm.$invalid">Destroy Session
                        </button>
                        <div class="alert alert-info margin-top-5" ng-show="messagedestroy">{{messagedestroy}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
